// Primary
$color-primary: #00a8cc;
$color-primary-dark: #008c99;
$color-primary-light: #00c6d8;
// Secondary
$color-secondary: #f8b600;
$color-secondary-dark: #f29500;
$color-secondary-light: #fce588;
// Success
$color-success: #00b300;
$color-success-dark: #008a00;
$color-success-light: #00d400;
// Info
$color-info: #00b3ff;
$color-info-dark: #008aff;
$color-info-light: #00d4ff;
// Warning
$color-warning: #ffb900;
$color-warning-dark: #ff9900;
$color-warning-light: #ffd400;
// Danger
$color-danger: #ff3a30;
$color-danger-dark: #ff1a00;
$color-danger-light: #ff4d4d;
// Link
$color-link: #00cc33;
$color-link-dark: #00992e;
$color-link-light: #00d853;
// Text
$color-text: #333;
$color-text-dark: #222;
$color-text-light: #555;
// Background
$color-background: #fff;
$color-background-dark: #f8f8f8;
$color-background-light: #fff;
